<div class="panel panel-default">
  <div class="panel-heading">
    ユーザー一覧
  </div>

  <div class="panel-body">
    <ul style="list-style-type: none">
    <ul id="blank-list">
    <% @users.each do |user| %>
      <li class="clearfix">
        <%= link_to gravatar_for(user, size: 50), user %>
        <span class="user"><%= link_to user.name, user %></span>
      </li>
    <% end %>
    </ul>
    <%= paginate @users %>
  </div>
</div>


